body, * {
    font-family: 'Poppins', sans-serif;
}

.logErro {
    color: #212529;
    font-size: 24px;
    text-align: center;
}


/* CABEÇALHO */
#barraTopo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

#logoSite {
    font-size: 24px;
    font-weight: bold;
}

#logoSite span{
    font-weight: 400;
}

#filtrosContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin: 0 auto;
    max-width: 1300px;
}

#containerBotoesFiltro button > .fa-solid, .fa-cart-arrow-down
{margin-right: 8px;}

.botoesBase, .containerCarrinho__header{
    border: none;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 26px;
    margin-right: 4px;
    font-size: 16px;
    height: 50px;
}

.botoesBase--ativo {
    color: white;
    background: #12b886;
    background: linear-gradient(50deg,#12b886 20%, #04ac5f 100%);
    background: -webkit-linear-gradient(50deg,#12b886 20%, #04ac5f 100%);
    background: -moz-linear-gradient(50deg,#12b886 20%, #04ac5f 100%);
}

.botoesBase--inativo {
    background-color: rgb(243, 251, 249);
    color: #12B886;
    border: 2px solid #12B8860D;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    background: #F1F3F5;
    border-radius: 8px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    height: 50px;
}

.botoesBase--busca {
    background: #12b886;
    background: linear-gradient(50deg,#12b886 20%, #04ac5f 100%);
    background: -webkit-linear-gradient(50deg,#12b886 20%, #04ac5f 100%);
    background: -moz-linear-gradient(50deg,#12b886 20%, #04ac5f 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    width: 60px;
    height: 50px;
}

.botoesBase--busca:hover, .botoesBase:hover, .adicionarCarrinho:hover {
    cursor: pointer;
    filter: brightness(95%);
}

#infoBar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 14px;
}

#infoBar #infoTotal{display: flex;}

#infoBar #infoTotal i{color: #12b886; font-size: 16px;}

#infoBar #infoTotal p {padding: 0 20px;}

#infoBar #containerPrecoTotal {
    color: white;
    background-color: #212529;
    padding: 10px;
    border-radius: 4px;
}

/* CONTEÚDO */
body > main {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.containerListaProdutos {
    width: 900px;
    margin-left: -10px;
}

.containerListaProdutos > ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.containerListaProdutos ul > li {
    margin: 0 10px 30px;
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerListaProdutos ul > li img {
    height: 175px;
    width: 266px;
}

.containerListaProdutos ul > li .infoProdutos {
    height: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.containerListaProdutos ul > li .infoProdutos h3,
.containerCarrinho__infos > h3 {
    color: #212529;
    font-size: 16px;
    font-weight: bold;
}

.containerListaProdutos ul > li .infoProdutos p,
.containerCarrinho__infos > p {
    font-size: 12px;
    color: #868E96;
}

.infoCompra,
.containerCarrinho__infos > span {
    color: #212529;
    font-size: 12px;
    font-weight: 500;
}

.componentesProdutos {
    list-style-type: decimal;
    padding-inline-start: 12px;
}

.componentesProdutos > li {
    font-size: 12px;
    color: #868E96;
    line-height: 16px;
}

.adicionarCarrinho {
    background-color: rgb(243, 251, 249);
    color: #12B886;
    border: 2px solid #12B8860D;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    align-self: flex-end;
    margin-top: 105px;
    position: absolute;
}

/* CARRINHO */
.containerCarrinho{
    width: 300px;
    height: fit-content;
}

.containerCarrinho__header {
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.containerCarrinho__lista--vazio {
    background-color: #F1F3F5;
    color: #868E96;
    height: 250px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCarrinho__lista {
    background-color: #F1F3F5;
    color: #868E96;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}

.containerCarrinho__lista--vazio > i {
    font-size: 36px;
    text-align: center;
}

.containerCarrinho__lista--vazio > p {
    font-size: 14px;
    padding: 26px;
    text-align: center;
    line-height: 22px;
}

.containerCarrinho__produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90px;
    border-radius: 8px;
}

.containerCarrinho__produto > img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.containerCarrinho__produto:hover {
    background-color: #F8F9FA;
}

.containerCarrinho__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    height: 70px;
    width: 130px;
}

.containerCarrinho__remove {
    width: 23px;
    height: 70px;
}

.botaoRemove {
    background-color: #F8F9FA;
    border: 0px solid transparent;
    color: #868E96;
    cursor: pointer;
    border-radius: 4px;
}

.botaoRemove > .fa-solid {
    margin: 0px;
    font-size: 10px;
}

.botaoRemove:hover {
    background-color: #12b886;
    color: #F8F9FA;
}

.containerCarrinho__bottom {
    background-color: #F8F9FA;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* VERSÃO MOBILE */
@media (max-width: 425px) {
    #filtrosContainer {
        display: block;
        padding: 60px 15px 15px;
        margin: 0 auto;
        max-width: 425px;
    }

    #containerBotoesFiltro {
        display: flex;
        overflow-x: scroll;
        height: 65px;
    }

    #containerBotoesFiltro > button {
        display: flex;
        min-width: fit-content;
        align-items: center;
    }

    #containerBuscaPorNome {
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    body > main {
        max-width: 425px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .containerListaProdutos {
        max-width: 425px;
    }
    
    .containerListaProdutos > ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-left: 10px;
    }

    .adicionarCarrinho {
        background-color: rgb(243, 251, 249);
        color: #12B886;
        border: 2px solid #12B8860D;
        width: 70px;
        height: 30px;
        border-radius: 8px;
        font-size: 11px;
        font-weight: 500;
        align-self: flex-end;
        margin-top: -45px;
        position: inherit;
    }

    .containerCarrinho{
        width: 395px;
        height: 265px;
        margin: 10px auto;
    }

    .containerCarrinho__lista {
        height: 120px;
    }
}